/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Contact Form */
  .contact-container {
    width: 320px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .contact-container label {
    font-weight: bold;
    color: #666;
  }
  
  .contact-container input,
  .contact-container textarea {
    width: 100%;
    padding-left: 4px; /* Reduce padding for smaller input fields */
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-container .submit {
    text-align: center;
  }
  
  .contact-container .submit input {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .contact-container .submit input:hover {
    background-color: #0056b3;
  }
  
  /* Login Form */
  .login-container {
    width: 320px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .login-container label {
    font-weight: bold;
    color: #666;
  }
  
  .login-container input {
    width: 100%;
    padding-left: 4px; /*dto*/
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container .input-group {
    text-align: left;
  }
  
  .login-container .input-group input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .login-container .input-group input[type="submit"]:hover {
    background-color: #1d9238;
  }
  
  /* Survey Form */
  .survey-container {
    width: 320px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .survey-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .survey-container label {
    font-weight: bold;
    color: #666;
  }
  
  .survey-container input,
  .survey-container textarea {
    width: 100%;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
 

  .survey-container .radio-group,
  .survey-container .checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .survey-container input[type="radio"],
  .survey-container input[type="checkbox"] {
    margin: 0;
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .survey-container .radio-group label,
  .survey-container .checkbox-group label {
    font-weight: normal;
  }
  
  .survey-container .input-group {
    text-align: left;
  }
  
  
  
 /* Hide default radio buttons */
 .gender-container input[type="radio"] {
    display: none;
}

/* Style the custom radio buttons */
.gender-container input[type="radio"] + label {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid #007bff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 12px;
    color: #007bff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style the checked radio button */
.gender-container input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}
.question-group input[type="checkbox"] {
    display: none;
}

/* Style the custom checkboxes */
.question-group input[type="checkbox"] + label {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    border: 2px solid #007bff;
    cursor: pointer;
    font-size: 12px;
    color: #007bff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style the checked checkboxes */
.question-group input[type="checkbox"]:checked + label {
    background-color: #007bff;
    color: #fff;
}
.button-group input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #007bff;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.button-group input[type="submit"]:hover {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 0 5px #007bff;
}